h2 {
    text-align: center;
}

table {
    /* border: solid 1px rgb(0, 0, 0); */
    font-family: Helvetica;
    border-collapse: collapse;

}

td, th {
    border: solid 1px rgb(33, 33, 33);
    text-align: center;
}

th {
    color: #ffffff;
    background: #6a6969df;
    padding: 10px;
}

td {
    padding: 15px;
}

tr:hover, .--active {
    background-color: #a3a3a3;
}

/* tr:nth-child(even) {
    background: #e3e3e3;
} */

div[class^='table-container'] {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.first-table {
    margin-right: 20px;
}

.empty {
    height: 50px;
}

.group-header {
    cursor: pointer;
}

.inside-group {
    display: none;
    background-color: #a3a3a3;
}

.inside-group.--visible {
    display: table-row;
}

.inner-table {
    margin-left: 20px;
    background-color: #a3a3a3 ;
}